    <footer id="footer">
      <div class="content-wrapper">
        <div id="footer-wrapper">
            <div class="logo-newsletter-wrapper">
              <a href="/"><img class="logo-img" src="/images/stevens-logo-white.svg" alt="Logo"></a>
                <p class="newsletter-text">Join our newsletter to stay up to date on features and releases</p>
                <div class="newsletter-input-wrapper">
                    <input type="text" class="newsletter" placeholder="Enter your email here">
                    <button class="submit">
                      <img src="/images/circle-arrow-right.svg" alt="Arrow pointing right">
                    </button>
                </div>
                 <div class="footer-social">
                  <p class="footer-title">Follow Us:</p>

                  <a href="https://www.instagram.com/nvstevens" class="social-icon" aria-label="Instagram">
                      <i class="fab fa-instagram"></i>
                  </a>

                  <a href="https://www.facebook.com/nathanielstevens4/" class="social-icon" aria-label="Facebook">
                      <i class="fab fa-facebook-f"></i>
                  </a>

                  <a href="https://www.linkedin.com/in/nvstevens/" class="social-icon" aria-label="LinkedIn">
                      <i class="fab fa-linkedin-in"></i>
                  </a>
              </div>
            </div>

            <div class="footer-menu">
              <div class="footer-menu-wrapper">
                <p class="footer-title">Business Lines</p>
                <ul class="footer-list">
                  <li>
                    <a href="#">Technology&amp;Marketing</a>
                  </li>
                  <li>
                    <a href="#">Automotive Retail</a>
                  </li>
                  <li>
                    <a href="#">Investors</a>
                  </li>
                  <li>
                    <a href="#">Rental Properties</a>
                  </li>
                  <li>
                    <a href="#">Short Term Accomodations</a>
                  </li>
                  <li>
                    <a href="#">Films</a>
                  </li>
                  <li>
                    <a href="#">Foundation</a>
                  </li>
                </ul>
              </div>

              <div class="footer-menu-wrapper">
                  <p class="footer-title">Resources</p>
                  <ul class="footer-list">
                    <li>
                      <a href="/about-us/">About Us</a>
                    </li>
                    <li>
                      <a href="/contact-us/">Contacts</a>
                    </li>
                    <li>
                      <a href="/Resources/">Resources</a>
                    </li>
                  </ul>
              </div>

              <div class="footer-menu-wrapper">
                  <p class="footer-title">Contact  us</p>
                  <ul class="footer-list">
                    <li>
                      <a href="tel:800-900-7783">800-900-7783</a>
                    </li>
                    <li>
                      <a href="mailto:ns@stevensventures.com">ns@stevensventures.com</a>
                    </li>
                    <li>
                      <a href="https://share.google/YEZP4L45oefeG4qa0">717 Bridgeport Ave, Milford, CT 06460, USA</a>
                    </li>
                  </ul>
              </div>        
            </div>
        </div>

        <div id="footer-bottom">
            <div class="footer-bottom-link">
                <ul>
                    <li>
                        <a href="#">Terms and Conditions</a>
                    </li>
                    <li>
                        <a href="#">Privacy&amp;Policy</a>
                    </li>
                    <li>
                        <a href="#">Cookies Policy</a>
                    </li>
                </ul>
            </div>
            <p class="rights-text">2026. All rights reserved | Led by <a href="https://nathanielstevens.com/">Nathaniel Stevens</a></p>
        </div>  
      </div>
    </footer>