<header id="header">
      <div id="header-wrapper" class="content-wrapper">

        <div class="header-logo-wrapper">
          <a href="/">
          <img src="/images/stevens-logo-yellow.svg" alt="Logo">      
          </a>

        </div>

        <div class="header-menu-wrapper">
          <ul class="parent-list">
            <li class="has-child">
              <a>Companies <img src="/images/chevron-down.svg" alt="Chevron Down"></a>
              <ul class="child-list">
                <li>
                  <a>Technology&amp;Marketing</a>
                </li>
                <li>
                  <a>Automotive Retail</a>
                </li>
                <li>
                  <a>Investors</a>
                </li>
                <li>
                  <a>Rental Properties</a>
                </li>
                <li>
                  <a>Short Term Accomodations</a>
                </li>
                <li>
                  <a>Films</a>
                </li>
                <li>
                  <a>Foundation</a>
                </li>
              </ul>
            </li>
            <li><a href="/about-us/">About Us</a></li>
            <li><a href="/resources/">Resources</a></li>
            <li><a href="/contact-us/">Contacts</a></li>
          </ul>
        </div>

        <div class="button-group-wrapper">
          <a class="btn gray" href="/contact-us/">Apply</a>
          <a class="btn accent" href="/contact-us/">Invest</a>
        </div>

        <div class="mobile-header">
          <input type="checkbox" id="drop-1" hidden="">
          <label id="dropHeader" class="dropHeader dropHeader-1" for="drop-1">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="12" viewBox="0 0 16 12" fill="none">
              <path d="M1.125 6H14.875M1.125 1H14.875M1.125 11H14.875" stroke="white" stroke-width="1.15" stroke-linecap="round" stroke-linejoin="round"></path>
            </svg>
          </label>
          <div class="list list-1">
            <div class="header-menu-wrapper">
              <ul class="parent-list">
                <li class="has-child">
                  <a>Companies <img src="/images/chevron-down.svg" alt="Chevron Down"></a>
                  <ul class="child-list">
                    <li><a>Technology&amp;Marketing</a></li>
                    <li><a>Automotive Retail</a></li>
                    <li><a>Investors</a></li>
                    <li><a>Rental Properties</a></li>
                    <li><a>Short Term Accomodations</a></li>
                    <li><a>Films</a></li>
                    <li><a>Foundation</a></li>
                  </ul>
                </li>
                <li><a href="/about-us/">About Us</a></li>
                <li><a>Resources</a></li>
                <li><a>Contacts</a></li>
              </ul>
            </div>
          
            <div class="button-group-wrapper">
              <a class="btn gray" href="#">Apply</a>
              <a class="btn accent" href="#">Invest</a>
            </div>
          </div>
        </div>
      </div>
    </header>