@import url(/src/assets/css/header.css);
@import url(/src/assets/css/footer.css);
@import url(/src/assets/css/index.css);
@import url(/src/assets/css/inner-page.css);
@import url(/src/assets/css/hero.css);
@import url(/src/assets/css/blog.css);

:root {
  --primary-color: #fff;
  --secondary-color: #FFF62D;
  --text-color: #000;
  --card-subheading-color: #ffffffB3;
  --accent-color: #ffffff1a;
  --link-hover-color: #ffffff66;
  --rent-color: #FF9C4B;
  --rent-bg-color: #FFA93F33;
  --sta-color: #C7BEFF;
  --sta-bg-color: #492DFF33;
  --tech-color: #57DDFF;
  --tech-bg-color: #73C2FF33;
  --auto-bg-color: #FFF62D33;
  --inv-color: #1AE490;
  --inv-bg-color: #42F7AC33;
  --film-color: #FF5289;
  --film-bg-color: #FF2D7033;
  --dark-gray: #1A1D1E;
  --medium-blue: #171b1f;
  --light-blue: #e0eaef;
  --dark-gray-2: #000000B3;
  --med-gray: #2f3334;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Golos Text", sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
}

a {
  text-decoration: unset;
}
a.btn {
  padding: 10px 30px;
  width: fit-content;
  border-radius: 12px;
  font-size: 14px;
  font-family: "Golos Text", sans-serif;
  line-height: 20px;
  text-decoration: none;
}

a.icon {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 15px 46px;
}

a.icon:hover svg path {
  stroke: #000;
  transition: all ease-in-out.3s;
}

.btn.border-less {
  border: none !important;
}

.btn.transparent {
  background-color: transparent;
  border: solid 1px #00000033;
  color: var(--text-color);
  transition: all ease-in-out.3s;
}

.btn.transparent:hover {
  border: solid 1px var(--text-color);
  transition: all ease-in-out.3s;
}

.btn.gray {
  background-color: var(--accent-color);
  backdrop-filter: blur(15px); 
  border: solid 1px transparent;
  color: var(--primary-color);
  transition: all ease-in-out.3s;
}

.btn.gray:hover {
  background-color: var(--primary-color);
  border: solid 1px transparent;
  color: var(--text-color);
  transition: all ease-in-out.3s;
}

.btn.black {
  background-color: var(--text-color);
  border: solid 1px transparent;
  color: var(--primary-color);
  transition: all ease-in-out.3s;
}

.btn.black:hover {
  background-color: #34668a;
  border: solid 1px #34668a;
  color: var(--primary-color);
  transition: all ease-in-out.3s;
}

.btn.black.icon svg path {
  stroke: var(--card-subheading-color);
}

.btn.black.icon:hover svg path {
  stroke: var(--card-subheading-color);
}

.btn.accent {
  background-color: var(--secondary-color);
  border: solid 1px transparent;
  color: var(--text-color);
  transition: all ease-in-out.3s;
}

.btn.accent:hover {
  background-color: var(--primary-color);
  border: solid 1px transparent;
  backdrop-filter: blur(20px); 
  color: var(--text-color);
  transition: all ease-in-out.3s;
}

@media (max-width: 575px) {
  a.icon {
    padding: 15px 25px;
  }
}



  .cta-section {
    background:#f5f5f5;
    padding: 90px 40px;
    text-align: center;
    position: relative;
    overflow: hidden;
    min-height: 40vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
  }
  .cta-section .content-wrapper {
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
}
 
  .cta-inner {
    position: relative;
    max-width: 720px;
    margin: 0 auto;
  }

  .cta-eyebrow {
    font-size: 14px;
    font-weight: 500;
    text-transform: uppercase;
  }
 
  .cta-heading {
    font-size: 56px;
    line-height: 56px;
    max-width: 700px;
    color: #1A1D1E;
    font-weight: 500;
    padding-bottom: 28px;
    margin-top: 10px;
  }

 
  .cta-subtext {
    color: #000;
    font-size: 18px;
    line-height: 1.6;
    max-width: 700px;
    margin: 0 auto 36px;
  }
 
  .cta-buttons {
    display: flex;
    justify-content: center;
    gap: 16px;
    flex-wrap: wrap;
  }
 

   .cta-btn {
     display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
 
  .cta-btn.primary {
    background: var(--secondary-color);
    color: var(--text-color);
  }
 
  .cta-btn.primary:hover {
    background: var(--primary-color);
  }
 

 
  @media (max-width: 600px) {
    .cta-section {
      padding: 60px 24px;
    }
    .cta-heading {
      font-size: 30px;
    }
    .cta-buttons {
      flex-direction: column;
      align-items: center;
    }
    .cta-btn {
      width: 100%;
      max-width: 280px;
      justify-content: center;
    }
  }